################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Visual Studio
**/bin
**/obj
**/.vs

# Visual Studio Code
**/.vscode

# golang
**/pkg
debug