################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FileBackup/bin/Debug
/.vs/FileBackup/v15/Server/sqlite3
/FileBackup/obj/Debug
