################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# C-Sharp
**/bin
**/obj
**/.vs
